
<div class="container-fluid contact">
  <h2>Contact Information</h2>

  <div class="contact-overview flex-container">
    <div class="contact-info">
      <h3>We Love to Hear From You</h3>
      <ul>
        <li>
          <strong>Email:</strong>
          <br/>
          <br/>
          example@example.example
        </li>
        <br />
        <li>
          <strong>Telefon:</strong>
          <br />
          <br />
          0000000000
        </li>
      </ul>
      <br />
      <h3>Drop Us A Line</h3>
      <%= flash[:notice] %>
      <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
      <div class="row">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="form-group">
          <%= form.label :message %>
          <%= form.text_area :message, class: "form-control", placeholder: "Enter Message here", rows: 5 %>
        </div>
      </div>
      <%= form.submit "Send", class: "form_label submit-contact-button" %>
      <% end %>
    </div>

    <div class="contact-location">
      <iframe width="400" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=berlin&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
</div><!-- end container-fluid-->
