<div class="container fluid">
  <p id="notice"><%= notice %></p>

  <h2>User Information</h2>
  <br />
  <div class="users-table">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>

      <tbody>
        <tr class="user-cell">
          <td><%= @user.first_name %></td>
          <td><%= @user.last_name %></td>
        </tr>
      </tbody>

    </table>
  </div>

  <button class="user-show-page-button back-button"><%= link_to 'Edit', edit_user_path(@user) %></button>
  <button class="user-show-page-button back-button"><%= link_to 'Back', users_path %></button>
  <br />
</div>
