<%= form_with(model: gearproduct, local: true) do |form| %>
  <% if gearproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gearproduct.errors.count, "error") %> prohibited this gearproduct from being saved:</h2>

      <ul>
      <% gearproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :gear_type %>
    <%= form.text_field :gear_type, class:"form-control" %>
  </div>

  <div class="actions submit-button">
    <%= form.submit %>
  </div>
<% end %>
