<div class="col-sm-6 gearproducts-display">

  <%= link_to image_tag(gearproduct.image_url, class:"img-fluid"), gearproduct unless gearproduct.image_url.nil? %>
  <h2 class="gearproduct-overview-name"><%= link_to gearproduct.name, gearproduct %></h2>
  <p class="gearproduct-desc"><%= gearproduct.description %></p>
  <p class="gearproduct-gear_type">Gear Type: <%= gearproduct.gear_type %></p>

  <%if signed_in? && current_user.admin? %>
    <button class="edit-product-button"><%= link_to 'Destroy', gearproduct, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <% end %>
  
</div><!-- end col-->
