<h2><%= @gearproduct.name %></h2>
  <div class="product-detail row">
    <div class="product-image col-6">
      <%= image_tag(@gearproduct.image_url, class:"img-fluid") unless @gearproduct.image_url.nil? %>
    </div>

    <div class="product-show col-4">
      <div>
        <p><strong>Description:</strong> <%= @gearproduct.description %></p>
      </div>
      <div>
        <p><strong>Gear Type:</strong> <%= @gearproduct.gear_type %></p>
      </div>
    </div>
  </div>

  <div class="product-edit-back-show row">
    <div class="col-12">
      <button class="back-button"><%= link_to 'Back', gearproducts_path %></button>
      <% if signed_in? && current_user.admin? %>
        <button class="edit-product-button"><%= link_to 'Edit', edit_gearproduct_path(@gearproduct) %></button>
      <% end %>
    </div>
  </div>
