<div class="col-sm-6 products-display">
  <h2 class="product-overview-name"><%= link_to product.name, product %></h2>
  <%= image_tag(product.image_url, class:"img-fluid") unless product.image_url.nil? %>
  <p><%= product.description %></p>
  <p><%= product.colour %></p>
  <p class="product-price"><strong>$ <%= product.price %></strong></p>
</div><!-- end col-->
