<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="product-detail">
    <div class="product-image">
      <%= image_tag(@product.image_url, class:"img-fluid") unless @product.image_url.nil? %>
    </div>

    <div class="product-show">
      <h2><%= @product.name %></h2>
      <p>
        <strong>Description:</strong>
      <br>
        <%= @product.description %>
      </p>
      <p>
        <strong>Colour:</strong>
        <br>
        <%= @product.colour %>
      </p>
      <p>
        <strong>Price:</strong>
        <br>
        $ <%= @product.price %>
      </p>
    </div>
  </div>

  <div class="product-edit-back-show">
    <button class="back-button"><%= link_to 'Back', products_path %></button>
    <button class="edit-product-button"><%= link_to 'Edit', edit_product_path(@product) %></button>
  </div>

</div>
