  <h2><%= @product.name %></h2>
  <div class="product-detail row">

    <div class="product-image col-6">
      <% cache @product.image_url do %>
        <%= image_tag(@product.image_url, class:"img-fluid img-zoom", data_zoom_image: @product.image_url) unless @product.image_url.nil? %>
      <% end %>
    </div>

    <div class="product-show col-4">
      <% cache @product do %>
        <div>
          <p><strong>Description:</strong> <%= @product.description %></p>
        </div>
        <div>
          <p><strong>Colour:</strong> <%= @product.colour %></p>
        </div>
        <div>
          <p><strong>Price:</strong> $<%= @product.price %></p>
        </div>
        <div>
          <p><strong>Average Rating:</strong></p>
          <div id="average-rating" class="star-rated" data-score="<%= @product.average_rating %>"></div>
        </div>
      <% end %>

      <div class="checkout_button">
        <% if signed_in?%>
          <%= form_with(url: '/payments/create') do |form| %>
          <%= form.hidden_field :product_id, value: @product.id%>
          <%= render partial: "devise/shared/stripe_checkout_button" %>
          <% end %>
        <% else %>

          <button id="modalBtn" type="submit" class="stripe-button-el-remake" style="visibility: visible;">
            <span style="display: block; min-height: 30px;">Pay with Card</span>
          </button>

          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h3>Please log in to pursue!</h3>
              <p>You are not logged in as a user of Lisa's Test Bike Shop.</p>
              <p>You can log in <a style="color: #506E73; font-weight: bold;" href="/login">here</a> or sign up <a style="color: #506E73; font-weight: bold;" href="/sign_up">here</a>.</p>
            </div>
          </div>
          <script>
          // Get the modal
          var modal = document.getElementById("myModal");

          // Get the button that opens the modal
          var btn = document.getElementById("modalBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
          </script>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-comments row">
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments, class: 'pagination-style' %>
  </div>


  <div class="product-edit-back-show row">
    <div class="col-12">
      <button class="back-button"><%= link_to 'Back', products_path %></button>
      <% if signed_in? && current_user.admin? %>
        <button class="edit-product-button"><%= link_to 'Edit', edit_product_path(@product) %></button>
      <% end %>
    </div>
  </div>
