  <h2><%= @product.name %></h2>
  <div class="product-detail row">

    <div class="product-image col-6">
      <%= image_tag(@product.image_url, class:"img-fluid") unless @product.image_url.nil? %>
    </div>

    <div class="product-show col-4">
      <div>
        <p><strong>Description:</strong> <%= @product.description %></p>
      </div>
      <div>
        <p><strong>Colour:</strong> <%= @product.colour %></p>
      </div>
      <div>
        <p><strong>Price:</strong> $<%= @product.price %></p>
      </div>
      <div>
        <p><strong>Average Rating:</strong></p>
        <div class="star-rated" data-score="<%= @product.average_rating %>"></div>
      </div>
    </div>
  </div>

  <div class="user-comments row">
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments, class: 'pagination-style' %>
  </div>


  <div class="product-edit-back-show row">
    <div class="col-12">
      <button class="back-button"><%= link_to 'Back', products_path %></button>
      <% if signed_in? && current_user.admin? %>
        <button class="edit-product-button"><%= link_to 'Edit', edit_product_path(@product) %></button>
      <% end %>
    </div>
  </div>
