<!DOCTYPE html>
<html>
  <head>
    <title>Firsttestapp2nd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="nav-container">
      <nav>
        <ul>
          <li id="first-item"><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", simple_pages_about_path %></li>
          <li><%= link_to "Contact", simple_pages_contact_path %></li>
          <li>
            <div class="dropdown">
            <button class="dropdown-button">Products
            </button>
            <div class="dropdown-content">
              <%= link_to "Bikes", products_path %>
              <%= link_to "Gear", gearproducts_path %>
              <%= link_to "Services", simple_pages_service_path %>
            </div>
          </div>
          </li>
          <li><%= link_to "Orders", orders_path %></li>
          <% if user_signed_in? %>
          <li class="login-logout">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          </li>
          <% else %>
          <li class="login-logout">
            <%= link_to('Login', new_user_session_path, class: "nav-link") %>
          </li>
          <% end %>
          <li id="nav-search-form" class="search-form">
            <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <%= form.text_field :q, id: 'q', value: params[:q], class:"form-control-sm search-field" %>
            <%= form.submit 'Search', class:"search-submit" %>
            <% end %>
          </li>

        </ul>


      </nav>
    </div><!--end nav-container-->

    <header>
      <div class="store-icon">
        <%= link_to root_path do %>
          <%= image_tag "bike-icon.png" %>
        <% end %>
        <h1>Lisa's Test Bike Shop</h1>
      </div>

    </header>
    <div class="container-fluid lisa">
      <% if notice %>
        <div id="notice" class="notice alert-light"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div id="alert" class="alert alert-light" role="alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      &copy; 2019 Lisa's Test Bike Shop
    </footer>
  </body>
</html>
